/* regole generali */
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

a{
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

.float{
  width: 50%;
  float: left;
  /* debug
  border: 1px solid black;
  /* fine debug */
}

.left-aling{
  text-align: left;
}

.right-aling{
  text-align: right;
}

/* REGOLE HEADER */

/* proprieta nav */
header .box{
  width: 60%;
  margin: 0 auto;
  padding: 1% 0;
}

nav .row.lightgrey, section.first{
  background: lightgray;
}

nav .row.white{
  background: white;
}
/* fine nav */

/* inizio sezione del header */
header section{
  /* debug
  border: 1px solid black;
  /* fine debug */
  height: 700px;
}
header .img-background{
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-position: bottom;
  height: 100%;
}

header section .content{
  width: 50%;
}

h1{
  font-size: 40px;
}
/* fine sezione */

/* REGOLE MAIN */

/* inizio primo section*/
main .top-part , .vert.box{
  text-align: center;
}

main section .top-part{
  width: 50%;
  margin: auto;
}

/* cubo img */
.img-cube img{
  width: 40%;
  height: auto;
}

main section .bottom-part{
  width: 60%;
  margin: auto;
}


section.first .box{
  /* debug
  height: 100px;
  /* fine debug */
  background: white;
  border: 1px solid black;
}

.row .vert.box{
  width: 30%;
  float: left;
}

.vert.box.center{
  margin: 0 5%;
}

/* fine section */

/* inizio secondo section*/
section.second{
  background: #00aab7;
  text-align: center;
  color: white;
}

section.second .box{
  width: 60%;
  margin: auto;
}

section.second .content-grid{
  padding: 5% 0;
}

section.second .box-grid{
  /* debug */
  height: 150px;
  border: 1px solid white;
  /* fine debug */
  width: 25%;
  float: left;

}

section.second .box-grid.angle-sx{
  border-left: none;

}

section.second .box-grid.angle-dx{
  border-right: none;
}

section.second .box-grid.top{
  border-top: none;
}

section.second .box-grid.bottom{
  border-bottom: none;
}
/* fine section */

/* inizio terzo section*/
section.third .row{
  /* debug
  background: white;
  border: 1px solid black;
  /* fine debug */
  width: 60%;
  margin: 0 auto;
}

section.third .row .content{
  /* debug */
  background: pink;
  border: 1px solid black;
  /* fine debug */
  width: 50%;
  float: left;
  margin: 20px 0;
}

section.third .content.text-one{
  padding: 0 10%;
}


section.third .content.text-one div{
  width: 50%;
}

section.third .logo-box{
  /* debug */
  border: 1px solid black;
  /* fine debug */
  width: 25%;
  float: left;
  padding: 5% 1% 0 3%;
}

section.third .logo-box img{
  width: 100%;
}

section.third .woman-img{
  /* display: inline-block; */
  text-align: right;
  /* word-wrap: break-word; */
}

section.third .woman-img img{
  width: 50%;
}
/* fine section */
/* FINE MAIN */

/* footer */
footer{
  /* debug */

  /* fine debug */
  background: #32495b;
  color: white;
}

footer nav , footer section{
  /* debug
  background: white;
  border: 1px solid black;
  /* fine debug */
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

footer nav .content-lista{
  /* debug */
  height: 100px;
  background: yellow;
  border: 1px solid black;
  /* fine debug */
  width: 25%;
  float: left;
}

footer a{
  color: white;
}
