/* regole generali */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 13px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float{
  width: 50%;
  float: left;
  /* debug
  border: 1px solid black;
  /* fine debug */
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
}


.left-aling{
  text-align: left;
}

.right-aling{
  text-align: right;
}

.align-center{
  text-align: center;
}

/* REGOLE HEADER */

/* proprieta nav */
header .box{
  width: 60%;
  margin: 0 auto;
  padding: 1% 0;
}

nav .row.lightgrey, section.first{
  background: lightgray;
}

nav .row.white{
  background: white;
}

header nav a{
  display: inline-block;
  color: black;
}

header img{
  width: 20%;
}

header .nav-princ{
  padding-left: 10px;
}

header li{
  display: inline-block;
}

/* fine nav */

header section{
  /* debug
  border: 1px solid black;
  /* fine debug */
  height: 700px;
}
header .img-background{
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-position: bottom;
  height: 100%;
}

header section .content{
  width: 50%;
}

h1{
  font-size: 40px;
}

section.first img{
  text-align: center;
}
/* fine sezione */

/* REGOLE MAIN */

/* inizio primo section*/
main section.first .top-part{
  width: 50%;
  margin: auto;
}

/* cubo img */
.img-cube img{
  width: 40%;
  height: auto;
}

main section.first .bottom-part{
  width: 60%;
  margin: auto;
}

.orz .image-float{
  float: left;
  width: 30%;

}
/* padding */
section.first .orz.box .padding{
  padding: 5% 0;
}

section.first .vert.box .padding{
  padding: 5%;
}

.orz .text-float{
  width: 70%;
  float: left;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
}
section.first img{
  width: 30%;
}

section.first .box{
  /* debug
  height: 100px;
  /* fine debug */
  background: white;
  border: 1px solid black;
}

.row .vert.box{
  width: 30%;
  float: left;
}

.vert.box.center{
  margin: 0 5%;
}

/* fine section */

/* inizio secondo section*/
section.second{
  background: #00aab7;
  text-align: center;
  color: white;
}

section.second .box{
  width: 60%;
  margin: auto;
}

section.second .content-grid{
  padding: 5% 0;
}

section.second .box-grid{
  /* debug */
  height: 150px;
  border: 1px solid white;
  /* fine debug */
  width: 25%;
  float: left;

}

section.second .box-grid.angle-sx{
  border-left: none;

}

section.second .box-grid.angle-dx{
  border-right: none;
}

section.second .box-grid.top{
  border-top: none;
}

section.second .box-grid.bottom{
  border-bottom: none;
}
/* fine section */

/* inizio terzo section*/
section.third .row{
  /* debug
  background: white;
  border: 1px solid black;
  /* fine debug */
  width: 60%;
  margin: 0 auto;
}

section.third .row .content{
  /* debug */
  background: pink;
  border: 1px solid black;
  /* fine debug */
  width: 50%;
  float: left;
  margin: 20px 0;
}

section.third .content.text-one{
  padding: 0 10%;
}


section.third .content.text-one div{
  width: 50%;
}

section.third .logo-box{
  /* debug */
  border: 1px solid black;
  /* fine debug */
  width: 25%;
  float: left;
  padding: 5% 1% 0 3%;
}

section.third .logo-box img{
  width: 100%;
}

section.third .woman-img{
  /* display: inline-block; */
  text-align: right;
  /* word-wrap: break-word; */
}

section.third .woman-img img{
  width: 50%;
}
/* fine section */
/* FINE MAIN */

/* footer */
footer{
  /* debug */

  /* fine debug */
  background: #32495b;
  color: white;
  font-size: 13px;
}

footer nav , footer section{
  /* debug
  background: white;
  border: 1px solid black;
  /* fine debug */
  width: 60%;
  margin: 0 auto;
}

footer nav .content-lista{
  /* debug
  height: 100px;
  background: yellow;
  border: 1px solid black;
  /* fine debug */
  width: 25%;
  float: left;
  padding-top: 5%;
}

footer nav .content-lista li{
  padding-top: 5%;
}

footer .button li{
  border: 1px solid black;
  width: 80%;
  text-align: center;
  padding-bottom: 5%;
  border-radius: 5px;
  color: #32495b;
  background: white;
  margin-top: 10px;
}

footer nav ul{
  color: white;
  text-align: left;
}

.social li {
  display: inline-block;
  padding-right: 20%;
  width: 10px;
}

footer section{
  padding: 1% 0;
}

footer .language{
  text-align: center;
}

footer .language a{
  padding: 5px;
}

footer section a{
  display: inline-block;
}


footer .right-aling a{
  padding-left: 10px;
}
